/* google font*/
@import url('https://fonts.googleapis.com/css?family=Roboto:900');

left{
  float: left;
}
.right{
  float: right;
}
/* hide scroll bar */
::-webkit-scrollbar {
    display: none;
}
/* Top */
.controlBar{
  background-color: black;
  height: 40px;
  padding: 5px 30%;
}
.controlBar > input[type='text']{
  width: 200px;
}

/* Midddle section */
.songSuggestion{
  height: 400px;
  background-color: #333;
  overflow: scroll;
}
.songSuggestion > li{
  display: inline-block;
  background: grey;
  width: 200px;
  height: 200px;
  margin: 10px;
  color: white;
}
.songSuggestion > li:hover{
  background-color: orange;
}
.songSuggestion > li > img{
  width: 80%;
  margin: 0 10%;
}


/* The bottom section */
.songPlayer{
  background-color: black;
}
.songInfo{
  height: 120px;
}
#albumimg{
  float: left;
  width: 90px;
  height: 90px;
  margin: 10px;
}
#songName, #songAlbum, #artist{
  color: white;
}

.playList{
  background-color: lightgrey;
  margin: 10px;
  list-style-type: none;
  list-style-position: inside;
  padding-left:0;
}
.playList > li{
  height: 40px;
  border-bottom: 5px solid black;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.playList > li:hover{
  background-color: Crimson;
  color: white;
}
.playList > li.active{
  background-color: DeepPink;
  color: white;
}
